/Lab2 - JSF/JSFLab/target/
/Lab3 - PrimeFaces/PrimeFaces/target/
/Lab4 - Bean/Requests/target/
/Lab5 - Message Driven/MDBLab/nbproject/private/
/Lab5 - Message Driven/MDBLab/MDBLab-war/nbproject/private/
/Lab5 - Message Driven/MDBLab/MDBLab-ejb/nbproject/private/
/Lab5 - Message Driven/MDBLab/MDBLab-ejb/build/
/Lab5 - Message Driven/MDBLab/MDBLab-war/build/
/Lab5 - Message Driven/MDBLab/build/
/Lab5 - Message Driven/MDBLab/MDBLab-ejb/dist/
/Lab5 - Message Driven/MDBLab/MDBLab-war/dist/
/Lab5 - Message Driven/MDBLab/dist/
/Lab7 - JAX-RS/Complaints/target/
/Lab7 - JAX-RS/ComplaintsClient/target/
